<% provide(:title,'Team') %>

<table>
    <thead>
        <th>Team</th>
        <th>Users</th>
    </thead>
    <tbody>
        <% @teams.each do |team| %>
        <tr>
            <td><%= team.name %></td>
            <td><%= @users.where("team_id = '#{ team.id }'").all.map(&:name).join(" | ") %></td>
        </tr>
        <% end %>
    </tbody>
</table>
