<% provide(:title, "Home") %>

<h3 class="homediv">Events</h2>
	<div class="tableHome">
		<%= render "shared/tablEvent" %>
	</div>
<h3 class="homediv">Lines</h2>
	<div class="tableHome">
		<%= render "shared/tableIntline" %>
	</div>
<h3 class="homediv">Equipments</h2>
	<div class="tableHome">
		<%= render "shared/tableIntequipment" %>
	</div>
