<% provide(:title, "Events") %>
<div style="padding: 8px;width: 200px;float:right;z-index:1;">
    <%= link_to 'Add Event', new_event_path, class: "btn btn-success btn-md" %>
</div>
<%= content_tag :table, class: "table-striped", role: :datatable, data: { url: events_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Opened</th>
      <th>Object</th>
      <th>Added by</th>
      <th>Content</th>
	  <th>Panel</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>
<br>
