// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* events */
$gray-light: #337ebf;

.events {
	width: 100%;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.btn {
	width: 100%;
}

.panel {
	float:right;

	a:hover{
		text-decoration: none;
	}
}

div.col-md-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 10px;
	width: 100%;
}

.box .box-default {
    border-top-color: #d2d6de;
	position: relative;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
}

// .box-header {
//     color: #444;
// 	padding: 10px;
//     display: block;
//     position: relative;
// }

// .box-header .box-title {
//     display: inline-block;
//     font-size: 18px;
//     margin: 0;
//     line-height: 1;
// 	height:30px;
// }

// .pagination {
// 	float:right;
// }
