<div class="side-nav">
	<div class="logo">
		<i class="fa fa-tachometer"></i>
		<span>EfdmRoR</span>
	</div>
	<nav>
		<ul class="navbar">
			<li>
					<span><i class="fa fa-user"></i></span>
					<span><%= link_to "Home", home_path %></span>
				</a>
			</li>
			<li>
					<span><i class="fa fa-envelope"></i></span>
					<span><%= link_to "Lines", intlines_path %></span>


				</a>
			</li>
			<li>
					<span><i class="fa fa-bar-chart"></i></span>
					<span><%= link_to "Events", events_path %></span>

				</a>
			</li>
			<li>
					<span><i class="fa fa-list"></i></span>
					<span><%= link_to "Equipments", intequipments_path %></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><i class="fa fa-credit-card-alt"></i></span>
					<span>Others</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
